
.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    background: #ffffff;
}
.logo {
    width: 100px;
    margin-left: 20px;
}
.nav-items > ul {
    display: flex;
    list-style-type: none;
    margin-right: 30px;
    font-size: 20px;

}
.nav-items > ul > li {
    padding: 15px;
    margin: 5px;
}
.res-card {
    width: 250px;
    height: 380px;
    border: none;
    background-color: whitesmoke;
    border-radius: 5%;
}

.res-card:hover{
    cursor: pointer;
    border: 1px solid lightgray;
    transform: scale(0.98);
    transition: transform 0.2s ease;
}
.food-img {
   width: 239;
   height: 230px; 
   padding: 5px;
   border-radius: 22px;
  
}
.res-items > h3 {
    margin-left: 5px;
    color: #02060c;
}
.res-items > h4{
    margin-top: 2px ;
    margin-bottom: 2px;
    margin-left: 5px;
    color: rgba(2, 6, 12, 0.6)
}
